:root {
    --primery-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --white-color: rgba(255, 255, 255, 1);
    --second-bgr-color: rgba(47, 48, 58, 1);
    --third-bgr-color: rgba(245, 244, 250, 1);
    --white-second-color: rgba(255, 255, 255, 0.6);
    --second-accent-color: rgba(24, 140, 232, 1);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,h2,h3, p {
    margin:  0px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
.body {
    background-color: var(--white-color);
    font-family: roboto, sans-serif;
    margin-top: 0;
}

/* блок герои */
.hero {
    background-color: var(--second-bgr-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:  linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../image/hero.png);
    
}


.text-hero {
    color: var(--white-color);
max-width: 696px;
margin-left:auto;
margin-right:auto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    align-items: center;
}

.button-hero:hover {
    background-color: var(--second-accent-color);
}

.button-hero:focus {
    background-color: var(--second-accent-color);
}

.button-hero {
    background-color: var(--accent-color);
    color: var(--white-color);
width: 200px;
height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin:o;
    padding:0;
    border:0;
    margin-top:30px;
}

/* блок навигации */
.nav {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
}

.nav-studio {
    color: var(--accent-color);
}

.nav-portf {
    color: var(--title-text-color)
}

.nav-portf:hover,
.nav-portf:focus {
    color: var(--accent-color);
}

.contact {
    color: var(--title-text-color)
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.mail {
    color: var(--primery-text-color);
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}
 
.phone {
    color: var(--primery-text-color);
}
.item-icon:hover {
    fill: currentColor;
   
}
.item-phone:hover {
fill: currentColor;
cursor: pointer;
}
.phone:hover,
.phone:focus {
    color: var(--accent-color);
   
}
/* заголовки + текст */
.header {
    color: var(--title-text-color);

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.text {
    color: var(--primery-text-color);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}

.text-second {
    color: var(--primery-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.header-second {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom:10px;
}

.header-third {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    padding-bottom:10px;
}

/* footer */
.footer {
    background-color: var(--second-bgr-color);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    Font-family: Roboto;
    border-radius: nullpx;
    padding-top:60px;
    padding-bottom:60px;


}

.adress {
    color: var(--white-color);
    font-style: normal;
}

.mail-footer {
    color: var(--white-second-color);
    font-style: normal;
}

.phone-footer {
    color: var(--white-second-color);
    font-style: normal;
}

/* логотип */
.web {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}


.studio {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}

.studio-footer {
    color: var(--white-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}

.section {
    background-color: var(--third-bgr-color);
}

/* навигация страницы портфолио */
.nav-stud {
    color: var(--title-text-color);

}

.nav-stud:hover,
.nav-stud:focus {
    color: var(--accent-color)
}

.nav-port {
    color: var(--accent-color);
}

/* кнопки страницы портфолио */
button {
    font-family: inherit;
    cursor: pointer;
}

.button-all {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    width: 73px;
    height: 38px;
    border-radius: 4px;
}

.button-site {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    width: 128px;
    height: 38px;
    border-radius: 4px;
}

.button-site:hover,
.button-site:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-pr {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    width: 145px;
    height: 38px;
    border-radius: 4px;
}

.button-pr:hover,
.button-pr:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-dis {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    width: 103px;
    height: 38px;
    border-radius: 4px;
}

.button-dis:hover,
.button-dis:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-mar {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    width: 130px;
    height: 38px;
    border-radius: 4px;
}

.button-mar:hover,
.button-mar:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-portfolio {
    color: var(--primery-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 24px;
        margin-bottom: 24px;
    
}

.header-portfolio {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 20px;
        margin-left: 24px;
        margin-bottom: 4px;
    
}
.nav-header {
    display:flex;
    margin:0;
    padding-left:0;
   margin-right: 305px;
}
.nav-header .item {
margin-right: 50px;
padding-top: 32px;
    padding-bottom: 32px;
}
.nav-header .item:last-child {
    margin-right:0;
}
.mail-header {
    display: flex;
    margin:0;
    padding:0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left:0;
    font-size: 14px;
}

.mail-header .item {
    margin-right: 50px;
}
.mail-header .item:last-child {
    margin-right:0px;
}
.nav {
    display: block;
    margin:0;
}
.header-one .container {
    display: flex;
}
.logo {
    display:flex;
    margin-top:24px;
    margin-bottom:25px;
    margin-right: 93px;
}
.content {
    display:flex;
    margin:0;
    padding:0;
    
}

.content .item .text {
    margin-right: 30px;
    width: 270px;
    height: 75px;
}
.container .content .item:last-child {
    margin-right: 0;
}


 .content .item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: var(--third-bgr-color);
    margin-bottom: 30px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.content .item:nth-child(1):before{
background-image: url(../image//antenna\ 1.png);
} 
.content .item:nth-child(2):before {
    background-image: url(../image/clock\ 1.png);
}
.content .item:nth-child(3):before {
    background-image: url(../image/diagram\ 1.png);
}
.content .item:nth-child(4):before {
    background-image: url(../image/astronaut\ 1.png);
}

.doing  {
    padding-top:94px;
    padding-bottom: 94px;
    
}
.doing-img {
    padding:0;
    margin:0;
    display: flex;
    margin-top:50px;
    
   
}
.doing-img .item:not(:last-child) {
    margin-right: 30px;
}
.section  {
    padding-top:94px;
    padding-bottom:94px;
}
.comand {
    display:flex;
    padding:0;
    margin:0;
    margin-top:50px;
}
.comand .item:not(:last-child) {
   margin-right:30px;
}
.comand .item {
    width: 270px;
    height:428px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.footer-adr {
    padding:0;
    margin: 0;
    
}
.footer-adr .item.item:not(:last-child) {
    padding-bottom: 9px;
}
.data {
    margin-top: 20px;
    display:flex;
}
.section-one {
    padding-top: 94px;
}
.produkt {
    padding-top: 94px;
    padding-bottom: 94px
    
}
.produkt-button {
   
    margin:0;
    display: flex;
    justify-content: center;
   
}

.produkt-button .item:hover,
.produkt-button .item:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
       box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.produkt-button .item:not(:last-child) {
    margin-right: 8px;
}
.poster {
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    margin-top:50px;
    gap:30px
}
.poster .item {
    box-sizing: border-box;
    border-style: solid;
    border-width:1px;
    border-color:var(--third-bgr-color);
    width: 370px;
    height: 402px;
}
.poster .item:hover {
     box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.client {
    padding-top: 94px;
    padding-bottom:94px;
    
}
.clients {
display: flex;
padding: 0;
margin: 0;
}
.clients .item {
    padding:0;
    margin: 0;
    margin-top:50px;
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}
.clients .item:hover {
    color:var(--accent-color);
    border: 1px solid  var(--accent-color);
    cursor: pointer;
}
.clients .item:not(:last-child) {
    margin-right: 30px;
}
.our-client {
    text-align: center;
}
.item-icon {
    width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: currentColor;
} 
.item-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill:currentColor;
}
.clients .item:hover {
    fill:var(--accent-color);
}
.clients .item {
    fill:rgba(175, 177, 184, 1);
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 32px;

}
.header-footer {
    text-transform:uppercase;
    text-decoration:none;
    color: var(--white-color);
    font-style: normal;
}
.footer-social {
    margin:0;
    padding:0;
    display:flex;
}
.footer-link {
    width: 206px;
    height: 80px;
    margin-left:70px;
    margin-top:12px;
}
.footer .container {
    display:flex;
}
.footer-social {
    width: 206px;
    height: 80px;
}
.footer-social .item {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    margin-top: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}
.footer-social .item:last-child {
    margin-right: 0;
}
.inst {
    width: 20px;
    height: 20px;
    fill:var(--white-color);
}
.footer-social .item {
    padding:12px;
}

.footer-social .item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}
.item-soc {
    display:flex;
    width: 206px;
    height: 44px;
    margin:0;
     margin-top:16px;
     padding:0;
     margin-left: 32px;
     margin-right: 32px;
     

}  
.inst-soc {
    width: 22px;
    height: 22px;
    fill:rgba(175, 177, 184, 1);
    padding:11px;
   
}
.link-soc {
    display:flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right:10px;
}
.link-soc:last-child {
    margin-right: 0;
}
.link-soc:hover {
    background-color: var(--accent-color);
}
.inst-soc:hover {
    fill:var(--white-color);
}